@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

body {
  background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460, #53354a);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-size: 1.5rem !important ;
  animation: movement 15s alternate infinite;
}

@keyframes movement {
  0% {
    transform: translateX(-80px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0);
  }
}

.top-score {
  font-family: "Merienda", cursive;

  font-size: 1.6rem !important ;
}

.score-box {
  font-family: "Merienda", cursive;

  font-size: 2rem !important ;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  overflow: hidden;
}

img:hover {
  cursor: pointer;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  width: 8rem;
  height: 8rem;
}

.col:hover {
  cursor: pointer;
}

.close {
  opacity: 0;
}
.open {
  opacity: 100;
}

.again-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;

  font-family: "Merienda", cursive;
  font-size: 1.5rem !important ;
}

.none {
  display: none;
}

.block {
  display: block;
}

/*** RESPONSIVE ***/

@media (max-width: 768px) {
  .col {
    width: 6rem;
    height: 6rem;
  }

  @keyframes movement {
    0% {
      transform: translateX(-20px);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media (max-width: 576px) {
  .col {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 420px) {
  .col {
    width: 4rem;
    height: 4rem;
  }
}
